<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/productCreateEdit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Alta de producto</title>
</head>
<body>
    <%- include("../partials/header",{}) %>

    <form action="/products/create" method="POST">
        <label for="product_id" class= 'createProduct'>ID</label>
        <input type="number" name="product_id" required value='<%= idProducto %>'>
        <label for="product_name" class= 'createProduct'>Nombre del articulo</label>
        <input type="text" required name="product_name">
        
        <label for="product_description" class= 'createProduct'>Descripción</label>
        <textarea required name="product_description"></textarea>
        <label for="product_category" class= 'createProduct'>Categoria</label>
        <select name="product_category">
           <% for (let i = 0 ; i < Categorias.length; i++) { %>
            <option value="<%= Categorias[i].id %>"><%= Categorias[i].nombre %></option>
            <%  } %>
        </select>
        <label for="product_color" class= 'createProduct'>Colores</label>
        <input type="text" required name="product_color">
        <label for="product_discount" class= 'createProduct'>Descuento</label>
        <input type="number" required name="product_discount" value="0">
        <section class= 'precios'> 
            <button class = "btn_agrega" onclick = agregarPrecio()>Agregar precio por tamaño</button>
            <br>
        </section>
        
        
        <button type="submit" class= "btn_registro">Crear</button>
    </form>
    <!--Footer-->
    <%- include("../partials/footer",{}) %>
    <script> 
    function agregarPrecio(){
        document.querySelector(".precios").innerHTML += "<section class= 'precios'>"
        document.querySelector(".precios").innerHTML += "<label for='product_tamano' class= 'createProduct'>Tamaño</label>" 
        document.querySelector(".precios").innerHTML += "<input type='text' required name='product_tamano'>" 
        document.querySelector(".precios").innerHTML += "<label for='product_price' class= 'createProduct'>Precio en pesos</label>" 
        document.querySelector(".precios").innerHTML += "<input type='number' required name='product_price'>"
        document.querySelector(".precios").innerHTML += "</section>"
    }
    </script>
</body>
</html>